@model TrainerCreateVM
@{
    ViewData["Title"] = "Create Trainer";
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary"> Create Category</h6>
                    <a asp-action="Index" asp-controller="Category" class="btn btn-outline-primary">Return List</a>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="@Model.Fullname"></label>
                            <input asp-for="@Model.Fullname" class="form-control">
                            <span asp-validation-for="@Model.Fullname" class="text-small text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Description"></label>
                            <input asp-for="@Model.Description" class="form-control">
                            <span asp-validation-for="@Model.Description" class="text-small text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Image"></label>
                            <input asp-for="@Model.Image" accept="image" class="form-control">
                            <span asp-validation-for="@Model.Image" class="text-small text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.CategoryId"></label>
                            <select class="form-select" asp-for="@Model.CategoryId">
                                <option selected disabled>Select Category</option>
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <option value="@item.Id">@item.Name</option> 
                                }
                            </select>
                            <span asp-validation-for="@Model.CategoryId" class="text-small text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>